<app-header></app-header>
<!--
id!:number;
date!:Date;
commentaire!:string;
horaire!:Time;
statut!:Statut;
prospect!:Prospect;
utilisateur!:Utilisateur;
message!:Message;
-->



<h1 class="text-center">Rendez-vous</h1>

<div class="container">

    <form #f="ngForm" (ngSubmit)="merge()">

        <fieldset>

            <legend class="text-center">Informations du rendez-vous</legend>

            <div class="mb-3">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date" [(ngModel)]="rendezvous.date" />
            </div>

            <div class="mb-3">
                <label for="horaire">Heure</label>
                <input type="time" class="form-control" id="horaire" name="horaire" [(ngModel)]="rendezvous.horaire" />
            </div>

            <div class="mb-3">
                <label for="commentaire">Commentaire</label>
                <input type="text" class="form-control" id="commentaire" name="commentaire"
                    [(ngModel)]="rendezvous.commentaire" />
            </div>

           <!-- 
                <label for="idStatut" class="form-label">Statut</label>
                <select [(ngModel)]="idStatut" name="idStatut" class="form-control">
                    <option [value]="0" disabled>---Selectionnez un statut---</option>
                    <option *ngFor="let statut of statuts" [value]="statut.id">{{statut.nom}}</option>
                </select>
 -->
            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" value="Envoyer" />
            </div>

        </fieldset>

    </form>

</div>


<app-liste-rendezvous></app-liste-rendezvous>

{{idUtilisateur}}
<app-footer></app-footer>