<div class="container">

    <form #f="ngForm" (ngSubmit)="merge()" class="border border-radius rounded-5 p-4">

        <fieldset>

            <legend class="text-center">Informations</legend>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="formation.nom" placeholder=" " />
                <label for="nom" class="form-label ms-2">Nom</label>
            </div>

            <div class="mb-3 form-floating">
                
                <input type="text" class="form-control" id="lieu" name="lieu" [(ngModel)]="formation.lieu" placeholder=" "/>
                <label for="lieu" class="form-label ms-2">Lieu</label>
            </div>

            <div class="mb-3 form-floating">
                
                <input type="text" class="form-control" id="prix" name="prix" [(ngModel)]="formation.prix" placeholder=" "/>
                <label for="prix" class="form-label ms-2">Prix</label>
            </div>

            <div class="mb-3 form-floating">
                
                <input type="date" class="form-control" id="dateDebut" name="dateDebut" [(ngModel)]="formation.dateDebut" placeholder=" "/>
                <label for="dateDebut" class="form-label ms-2">Date Début</label>
            </div>

            <div class="mb-3 form-floating">
                
                <input type="date" class="form-control" id="dateFin" name="dateFin" [(ngModel)]="formation.dateFin" placeholder=" "/>
                <label for="dateFin" class="form-label ms-2">Date Fin</label>
            </div>


            <div class="mb-3 form-floating">
                
                <select [(ngModel)]="idFormateur" name="idFormateur" class="form-select">
                    <option [ngValue]="0" disabled>---Selectionnez un formateur---</option>
                    <option *ngFor="let formateur of formateurs" [value]="formateur.id">{{formateur.nom}} {{formateur.prenom}}</option>
                </select>
                <label for="idFormateur" class="form-label ms-2">Formateur</label>
            </div>

            <div class="mb-3">
               <label for="idUtilisateur" class="form-label ms-2">Participant</label>
                <select  multiple   [(ngModel)]="idUtilisateur" name="idUtilisateur" class="form-select" >
                    
                    <option *ngFor="let utilisateur of utilisateurs" [ngValue]="utilisateur.id">{{utilisateur.nom}} {{utilisateur.prenom}}</option>
              </select>
              
            </div>

            <div class="mb-3 text-center">
                <input class="btn btn-color w-25 py-3" type="submit" value="Ajouter" />
            </div>

        </fieldset>

    </form>

</div>
