

<div class="container mb-5">

    <form #f="ngForm" (ngSubmit)="merge()" class="border border-radius rounded-5 p-4">

        <fieldset>

            <legend class="text-center my-4">Coordonnées</legend>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="prospect.nom" placeholder=" "/>
                <label for="nom" class="form-label ms-2">Nom</label>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="prospect.prenom" placeholder=" "/>
                <label for="prenom" class="form-label ms-2">Prenom</label>
            </div>

            <div class="mb-3 form-floating">
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="prospect.email" placeholder=" "/>
                <label for="email" class="form-label ms-2">Adresse email</label>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="prospect.adresse" placeholder=" "/>
                <label for="adresse" class="form-label ms-2">Adresse postale</label>
            </div>

            <div class="mb-3 form-floating">
                <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="prospect.telephone" placeholder=" "/>
                <label for="telephone" class="form-label ms-2">Téléphone</label>
            </div>

            <div class="mb-3 form-floating">
                <select [(ngModel)]="idRegion" name="idRegion" class="form-select">
                    <option [ngValue]="0" disabled>---Selectionnez une région---</option>
                    <option *ngFor="let region of regions" [ngValue]="region.id">{{region.nom}}</option>
                </select>
                <label for="idRegion" class="form-label ms-2">Région</label>
            </div>

            <div class="mb-3 form-floating">
                <textarea type="text" class="form-control" id="commentaire" name="commentaire"
                    [(ngModel)]="prospect.commentaire" placeholder=" "></textarea>
                <label for="commentaire" class="form-label ms-2">Commentaire</label>
            </div>

            <div class="my-3 text-center">
                <input class="btn btn-color w-25 py-3" type="submit" value="Envoyer" />
            </div>

        </fieldset>

    </form>

</div>
