

<div class="container-fluid">
    <table class="table table-striped table-hover caption-top text-center my-4 align-midle">

        <caption class="text-center fs-4">Liste des formations</caption>
        <thead>


            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Lieu</th>
               
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Formateur</th>
                <th>Participants</th>
                <th>Coût</th>
                <th>Information</th>
                <th *ngIf="connectedUser.role.nom==='admin'">Modifier</th>
                <th *ngIf="connectedUser.role.nom==='admin'">Supprimer</th>
            </tr>
        </thead>
        <tbody>


            <tr *ngFor="let formation of formations">
                <td>{{formation.id}}</td>
                <td>{{formation.nom}}</td>
                <td>{{formation.lieu}}</td>
                
                <td>{{formation.dateDebut | date : 'dd/MM/yyyy'}}</td>
                <td>{{formation.dateFin| date : 'dd/MM/yyyy'}}</td>
                <td>{{formation.formateur.prenom + " " + formation.formateur.nom}}</td>
                <td>{{formation.utilisateurs.length || '0' }} </td>
                <td>{{formation.prix }} €</td>
                <td><button class="btn btn-color" > <a class="text-decoration-none text-light" href="/formations/{{formation.id}}">Voir </a>  </button></td>
            
                <td *ngIf="connectedUser.role.nom==='admin'">
                <button class="btn btn-color" (click)="modificationFormation(formation.id)" >Modifier  </button>

                <td *ngIf="connectedUser.role.nom==='admin'"><button class="btn btn-outline-danger"
                (click)="delete(formation.id)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>