<app-header></app-header>

<div class="container-fluid">

    <div class="row my-5">

        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">Mon profil</li>
                <li class="list-group-item">Mes informations</li>
                <li class="list-group-item">Mes formations</li>
                <li class="list-group-item">Mon mot de passe</li>
            </ul>
        </div>

        <div class="row col-md-9 row-cols-1 row-cols-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mes formations</h5>
                    <p class="card-text">Consulter mes formations</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>

            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mes formations</h5>
                    <p class="card-text">Consulter mes formations</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>

            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mes formations</h5>
                    <p class="card-text">Consulter mes formations</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mes formations</h5>
                    <p class="card-text">Consulter mes formations</p>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>