<app-header></app-header>

<div class="container-fluid">

    <div class="row my-5">

        <div class="col-md-3 col-10 mx-auto my-2">
            <ul class="list-group">
                <li class="list-group-item activeItem">Mon profil</li>
                <li class="list-group-item">Mes informations</li>
                <li class="list-group-item">Mon mot de passe</li>
                <li class="list-group-item">Mes formations</li>
            </ul>
        </div>

        <div class=" col-md-9 col-10">

            <app-welcome></app-welcome>

        </div>
    </div>
</div>

<app-footer></app-footer>