@import url(../../../app.component.scss);
.activeItem {
    background-color: rgb(19, 120, 120);
    color: white;
    a {
        color: white;
    }
}

a {
    text-decoration: none;
    color: black;
}
