<h1 class="text-center my-3">Connexion</h1>

<div class="container">

    <form #f="ngForm" (ngSubmit)="infor(f)">

        <fieldset>
            <legend class="text-center">Formulaire de connexion</legend>

            <div class="mb-3">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" />
            </div>

            <div class="mb-3">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" />
            </div>

            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" value="Envoyer" />
            </div>

        </fieldset>

    </form>

    <p *ngIf="messageErreur!=''">{{messageErreur}}</p>
</div>