<app-header></app-header>

<app-ajout-utilisateur *ngIf="affichageFormulaire" [idUtilisateur]="idUtilisateur" [idProspect]="idProspect"></app-ajout-utilisateur>

<div *ngIf="affichageFormulaire" class="container mt-5">
    <div class="row text-center">
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="showUtilisateurs()">Utilisateurs</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="showProspects()">Prospects</button>
        </div>
    </div>
</div>

<app-liste-utilisateur *ngIf="affichageUtilisateurs" (appelGestionUtilisateur)="getIdUtilisateur($event)"></app-liste-utilisateur>

<app-liste-prospect *ngIf="affichageProspects" (appelGestionProspect)="getIdProspect($event)"></app-liste-prospect>

<app-footer></app-footer>