<div class="container">
    <form #f="ngForm" (ngSubmit)="filter()">
        <div class="row">
            <div class="my-1 form-floating col-md-4">
                <select [(ngModel)]="idFormation" name="idFormation" class="form-select" placeholder=" ">
                    <option [value]="0">Aucune formation sélectionnée</option>
                    <option *ngFor="let formation of formations" [value]="formation.id">{{formation.nom}}</option>
                </select>
                <label for="idFormation" class="form-label ms-2">Formation</label>
            </div>

            <div class="my-1 form-floating col-md-4">
                <select [(ngModel)]="idParticipant" name="idParticipant" class="form-select" placeholder=" ">
                    <option [value]="0">Aucun participant sélectionné</option>
                    <option *ngFor="let participant of participants" [value]="participant.id">{{participant.nom}}
                    </option>
                </select>
                <label for="idParticipant" class="form-label ms-2">Participant</label>
            </div>

            <div class="my-1 form-floating col-md-4 text-center">
                <button class="btn btn-color py-3 w-25">Filtrer</button>
            </div>
        </div>
    </form>
</div>


<div class="container-fluid">

    <table class="table table-striped table-hover caption-top text-center my-4">

        <caption class="text-center fs-4">Liste des paiements</caption>

        <thead>
            <tr>
                <th>#</th>
                <th>Nom Formation</th>
                <th>Prix</th>
                <th>Versement</th>
                <th>Participants</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>


            <tr *ngFor="let paiement of paiements">
                <td>{{paiement.id}}</td>
                <td>{{paiement.formation.nom}}</td>
                <td>{{paiement.formation.prix}} €</td>
                <td>{{paiement.montant}} €</td>

                <td>{{paiement.utilisateur.nom}}</td>
                <td>{{paiement.statut.nom}}</td>
   
            </tr>
        </tbody>
    </table>
</div>