<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-striped table-hover caption-top text-center my-4">

            <caption class="text-center fs-4">Liste des prospects</caption>

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Region</th>
                    <th *ngIf="connectedUser.role.nom==='admin'">Modifier</th>
                    <th *ngIf="connectedUser.role.nom==='admin'">Supprimer</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let prospect of prospects">
                    <td>{{prospect.id}}</td>
                    <td>{{prospect.nom}}</td>
                    <td>{{prospect.prenom}}</td>
                    <td>{{prospect.adresse}}</td>
                    <td>{{prospect.email}}</td>
                    <td>{{prospect.telephone}}</td>
                    <td>{{prospect.region.nom}}</td>
                    <td *ngIf="connectedUser.role.nom==='admin'">
                        <button class="btn btn-outline-primary"
                            (click)="modificationProspect(prospect.id)">Modifier </button>
                    </td>
                    <td *ngIf="connectedUser.role.nom==='admin'"><button class="btn btn-outline-danger"
                            (click)="supprimer(prospect.id)">Supprimer</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>