<div class="row mx-auto row-cols-1 row-cols-md-5  text-center">

    <div class="card mx-auto my-2">
        <img src="http://localhost:8015/images/informations.png" class="card-img-top" alt="Image des informations">
        <div class="card-body">
            <h5 class="card-title">Mes informations</h5>
            <a href="#" class="btn btn-color my-3">Voir</a>
        </div>
    </div>

    <div class="card mx-auto my-2">
        <img src="http://localhost:8015/images/password.png" class="card-img-top" alt="Image du mot de passe">
        <div class="card-body">
            <h5 class="card-title">Mon mot de passe</h5>
            <a href="#" class="btn btn-color my-3">Voir</a>
        </div>
    </div>

    <div class="card mx-auto my-2">
        <img src="http://localhost:8015/images/formations.png" class="card-img-top" alt="Image des formations">
        <div class="card-body">
            <h5 class="card-title">Mes formations</h5>
            <a href="#" class="btn btn-color my-3">Voir</a>
        </div>
    </div>
    <div class="card mx-auto my-2">
        <img src="http://localhost:8015/images/supprimer.png" class="card-img-top" alt="Image Suppression">
        <div class="card-body">
            <h5 class="card-title">Supprimer mon compte</h5>
            <a href="#" class="btn btn-danger my-3">Voir</a>
        </div>
    </div>
</div>